/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.user_name {
  border-style:solid;
  border-bottom:3px;
  margin-left: 15px;
  padding:40px;
  background-color:#55aa77;
}

div.spacer{
  background-color:light-orange;
  padding:40px;
  width:100%;
  height:45px;
}

span{
  margin-right:10px;
}

.textStatus{
  width: 68px;
  opacity:0.25;
  text-align:center;
}

.textStatus::-moz-selection {
background-color:green;
}

.textStatus::selection {
background-color:green;
}

div.status {
#  -webkit-transition: background-color 0.8s ease-in-out;
  width:28px;
  height:28px;
  background-color:#a2a3a4;
  border-color:white;
  border-width:8px;
  border-style:groove;
  border-radius:90px;
#  -webkit-transition: border-color 2s ease-in-out;
  opacity:0.45;
  -webkit-transition: all 1s;
  float:right;
}


div.status:hover {
  border-color:#55a159;
#  -webkit-animation-duration: 1.5s;
#  -webkit-transition: border-color 1s;
  -webkit-transition: all 1s;
  opacity:0.75;
}

div.status.approved{
  background-color:green;
#  -webkit-transition: background-color 0.5s;
#  -webkit-transition: border-color 1s;
#  -webkit-transition: opacity 1s;
  -webkit-transition: all 1s;
}

div.status.declined{
  background-color:red;
  -webkit-transition: border-color 1.5;
}

div.status.pending{
  background-color:yellow;
  -webkit-transition: background-color 3.5s
  #-webkit-transition: border-color 1s;
}

.floatingTile:hover {
	-webkit-transform: scale(0.87) perspective(100px) rotateY(0deg) rotateX(0deg);
	-moz-transform: scale(0.87) perspective(100px) rotateY(0deg) rotateX(0deg);
	-ms-transform: scale(0.87) perspective(100px) rotateY(0deg) rotateX(0deg);
	transform: scale(0.87) perspective(100px) rotateY(0deg) rotateX(0deg);
	border-width: 3px;
	border-style:solid; 
}

.floatingTile {
 background-color: #D8a1AB;
 border-color:#EEEEEE;
 width: 80px;
 height: 80px;
 padding: 5px;
 color: #FFF;
 font-family: sans-serif;
 font-size: 22px;
 border-width: 3px;
 border-style: solid;
 cursor: default;
 -webkit-transition: 0.3s all;
 -moz-transition: 0.3s all;
 -ms-transition: 0.3s all;
 transition: 0.3s all;
 margin:14px;
 display:inline;
 margin-top:25px;
 float:left;
}


.selectedDate{
width:500px;
height:0px;
padding:50px;
}

div label.day{
  background-color:green;
}

.reservation{
  width:100px;
  height:200px;
  position:absolute;  
}

.calendar{
  width:88%;
  height:600px;
  overflow:hidden;
}

label.dayOfMonth{
  float:right;
  font-size:18px;
}

input[type="radio"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  margin-top:-92%;
  margin-left:-10px;
  width:100px;
  height:190px;
  opacity:0.2;
}

input[type="radio"]:checked {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  margin-top:-92%;
  margin-left:-10px;
  width:100px;
  height:190px;
  opacity:0.1;
}

.month-selected{
  border-left:10px;
  border-right:10px;
  font-size:200%;
}

.day-selected{
  font-size:220%;
}

.year-selected{
  font-size:150%;
} 

label{
  margin-left: 5%;
}


ul{
  padding:40px;
  margin-left:100px;
}

.day-chart{
  height:190px;
  width:1440px;
  background-color:#EEEEEE;
  margin-left:50px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #000;
  padding:15px;
}

.calendar-controls{
  float:right;
  margin-top:30%;
  background-color:20%;
  opacity:0.8;
}

.arrow{
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 100px;
  height: 0;

  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.requestedTime{
  font-size:250%;
}

.days-view{
  width:100%;
  height:400px;
}



