
body{
  background-color:rgba(223,223,219,0.5);
  position:absolute;
  z-index:99999;
  width:100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Noto Serif', serif;
  background-image:url('../img/background.jpg');
    background-size: 100%;
}

::-webkit-scrollbar {
    display: none;
}


.textStatus{
  margin-top: 3px;
  width: 70px;
  opacity:0.35;
  text-align:center;
  float:left;
  font-size:14px;
  padding: 2px;
  background-color: transparent;
  color:#000000;
  cursor:pointer;
  font-weight: 800;
}

.chart-left-time{
  float:left;
  font-size:200%;
}


.textStatus::selection {
    color:#0000a0;
}

.company_selected{
    font-size: 22px;
    color: #623828;
    margin-left: 20px;
    height:50px;
}

div.status {
  -webkit-transition: background-color 0.8s ease-in-out;
  width:20px;
  height:20px;
  background-color:#a2a3a4;
  opacity:0.45;
  -webkit-transition: all 1s;
  float:left;
  border-radius: 5px;
  cursor:pointer;
  margin-top:10px;
}


div.status:hover {
  -webkit-transition: all 0.2s;
  opacity:1;

}

div.status.accept{
  background-color:green;
  -webkit-transition: all 1s;
}

div.status.decline{
  background-color:red;
}

div.status.maybe{
  background-color:yellow;
  -webkit-transition: background-color 3.5s
  #-webkit-transition: border-color 1s;
}

.month-picker.span{
  border-left:4px;
}


.reserve{
  background-color:rgba(200,169,199,0.3);
  border:2px solid transparent;
  cursor: pointer;
  color:transparent;
  float:right;
  padding: 8px;
  width:50px;
  height: 20px;
  border-bottom-right-radius:5px;
    -webkit-transition: background-color 4.5s;
}

.reserve:hover{
    background-color:#222222;
    -webkit-transition: background-color 0.5s;
    color:whitesmoke;
}

.floatingTile {
  background-color: rgba(78,62,73, 0.75);
  #border-color:#999999;
  width: 6%;
  height: 6%;
  padding: 5px;
  color:#ffffff;
  cursor: default;
}


.floatingTile:hover:not(.selectedTile) {
    background-color: rgba(8,8,78,0.87);
}

.floatingTile:hover{
    transform: scaleZ(0.87);
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition:0.38s all;
}

.day-floating-tile{
    -webkit-box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4), 0 0 40px rgba(10, 0, 0, 0.4) inset;
    -moz-box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4), 0 0 40px rgba(10, 0, 0, 0.4) inset;
    box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4), 0 0 40px rgba(11, 0, 0, 0.4) inset;
    font-family: sans-serif;
    font-size: 22px;
    #border-width: 1px;
    #border-style: solid;
    cursor: default;
    -webkit-transition:1.28s all;
    -moz-transition:1.28s all;
    -ms-transition:1.28s all;
    transition:1.28s all;
    margin:14px;
    display:inline-table;
    margin-top:25px;
    float:left;
    position:relative;
    cursor:pointer;

}

.selectedTile{
    -webkit-box-shadow:0px 12px 15px rgba(11, 11, 11, 0.4), 0 0 10px rgba(120, 120, 120, 1) inset;
    -moz-box-shadow:0px 12px 15px rgba(11, 11, 11, 0.4), 0 0 10px rgba(120, 120, 120, 1) inset;
    box-shadow:0px 12px 15px  rgba(11, 11, 11, 0.4), 0 0 10px rgba(120, 120, 120, 1) inset;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    color:white;
    background-color: #000014;
    font-weight: 400;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition:0.58s all;
    -moz-transition:0.58s all;
    -ms-transition:0.58s all;
    transition:0.58s all;
}


.day-of-week-indicator{
    background-color: transparent;
    height: 50px;

}


.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}
/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


.date-input{
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding:7px;
    width:300px;
    color: #623828;
    background-color: rgba(240,240,240,0.01);
}

.selectedDate{
width:500px;
height:0px;
padding-top:75px;
}

.day-selected{
  margin-left:15px;
  font-size:40px;
  background-color: transparent;
}

div label.day{
  background-color:green;
}

.reservation_min_label{
    font-size: 12px;
    margin-top: 21px;
    margin-left: 2px;
}
.reservation_min{
    font-size: 12px;
    margin-top: 21px;
}

.reservation{
  margin-top: -13px;
  color: #623828;
  width:112px;
  height:86px;
  position:absolute;
  z-index:9999;
  background-color:transparent;
  padding-top:7px;
  font-size: 16px;
  font-family:"Trebuchet MS, Helvetica, sans-serif";
  font-weight:500;
    -webkit-transition-duration: 2.8s;
    -moz-transition-duration: 2.8s;
    -o-transition-duration: 2.8s;
    transition-duration: 2.8s;
  border-bottom: solid 0px transparent;
    border-left: solid steelblue 4px;
  padding: 10px 10px 0 10px;
  overflow: hidden;
}


.reservation:hover{
    width:300px;
    background-color: rgba(191,188,199, 0.9);
    overflow: visible;
  position:absolute;
  -webkit-transition: all 1.8s;
  z-index: 10000;
}

.draggable { height: 90px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }


.attendees{
    width:640px;
    -webkit-transition: all 0.5s;
    position: absolute;
    margin-top: 420px;
    margin-left:850px;
    background-color:rgba(244,244,244,0.2);
    height:145px;
    font-family: "Trebuchet MS, Helvetica, sans-serif";
    font-style: italic;
    overflow: scroll;
    -moz-box-shadow:    0px 5px 15px rgba(11,11,11, 0.9), 3px 0 40px rgba(10, 10, 10, 0.3) inset;
    -webkit-box-shadow: 0px 5px 15px rgba(11,11,11, 0.9), 3px 0 40px rgba(10, 10, 10, 0.3) inset;
    box-shadow:         0px 5px 15px rgba(11,11,11, 0.9), 3px 0 40px rgba(10, 10, 10, 0.3) inset;
    z-index: 99999;
    padding: 10px;
}


.place_search{
    margin-left: 15px;
    font-size:30px;
    padding: 10px;
    font-family: 'Noto Serif', serif;
    color:black;
    padding-right: 40px;
    float:right;
    border-bottom: solid 2px black;
    width: 180px;
    border-radius: 20px;
    outline: none;
}

.places{
    font-size: 30px;
    margin-top: 268px;
    margin-left:850px;
    position: absolute;
    font-family: 'Noto Serif', serif;
    width: 615px;
    -moz-box-shadow:    0px 5px 15px rgba(11,11,11, 0.9), 3px 0 40px rgba(10, 10, 10, 0.3) inset;
    -webkit-box-shadow: 0px 5px 15px rgba(11,11,11, 0.9), 3px 0 40px rgba(10, 10, 10, 0.3) inset;
    box-shadow:         0px 5px 15px rgba(11,11,11, 0.9), 3px 0 40px rgba(10, 10, 10, 0.3) inset;
    padding: 10px;
    font-style:italic;
    letter-spacing: 4px;
}

.place-icon{
    height: 20px;
}

.place-result{
    background-color: rgba(200,200,205,0.4);
    display: inline-table;
    margin-right: 10px;
    cursor: pointer;
    height: 80px;
    font-size: 16px;
    color:#000000;
    border-radius: 10px;
}

.place-result:hover{
    color:white;
}

.attendees-header{
    letter-spacing: 9px;
    margin-left: 25px;
    width: 100px;
    display: inline;
    color: #623828;
    border-bottom: solid #623828 140px;
    font-weight: 900;

}



.label_emailExample{
  font-family:sans-serif italic;
  color:rgba(244,244,244,0.7);
  margin-left: 26px;
  font-weight: 500;
}

.add-attendee-input{
    margin-top: -55px;
    margin-left: 25px;
    font-size: 30px;
    width:300px;
    height: 45px;
    margin-bottom: 4px;
    padding: 10px;
}

.add-attendee-button{
    margin-top: 75px;
    width:100px;
    height:50px;
    font-size: 40px;
    font-family: fantasy;
    margin-left: 20px;
    cursor: pointer;
    color: rgba(33,33,33,0.5);
}

.add-attendee-button:hover{
    color:rgba(10,10,30, 0.8);
    font-weight: 800;
}

.update-changes-icon{
    background-image:url('../img/update-icon.png');
    background-size: 100%;
    width:26px;
    height:26px;
    position: absolute;
    opacity: 0.6;
    cursor: pointer;
    z-index: 9999;
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    -o-transition-duration: 1.8s;
    transition-duration: 1.8s;
}

.update-changes-icon:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -webkit-transition-duration: 2.8s;
    -moz-transition-duration: 2.8s;
    -o-transition-duration: 2.8s;
    transition-duration: 2.8s;
}


.attendee-icon{
    background-image:url('../img/add-alt.png');
    width:29px;
    height:30px;
    cursor: pointer;
    margin-top: -55px;
    margin-left: 314px;
    position: absolute;
    z-index: 9999;
}

.attendee-icon:hover{
    background-image:url('../img/add.png');
}

.attendee-icon-alt{
    background-image:url('../img/add-user-icon.png');
    width:40px;
    height: 50px;
    float:right;
    cursor: pointer;
}

.attendee-icon-alt:hover{
    background-image:url('../img/add-user-icon-alt.png');
}

.calendar{
    position:absolute;
    width:850px;
    height:700px;
    overflow:scroll;
    padding-left:36px;
    margin-top:278px;
    -webkit-transition: all 2.4s;
    font-size:300%;
}

span.dayOfMonth{
  font-size:18px;
  float:right;
  margin: 8px;
}


.month-selected{
  margin-left:8px;
  font-size:200%;
  font-family: 'Noto Serif', serif;
}

.day-selected{
  font-size:200%;
  margin-right:30px;
    font-family: 'Noto Serif', serif;
    width:70px;
    outline-offset: 0px;
}

.year-selected{
  font-size:200%;
    font-family: 'Noto Serif', serif;
    background-color: transparent;
    width:120px;
    color:rgba(233,233,233,0.6);
    font-weight: 800;
} 

label{
  margin-left: 5%;
  font-family:"Georgia, serif";
}


.duration{
 font-size: 20px;
 width:40px;
 height: 25px;
 background-color: transparent;
 border: none;
 font-style: italic;
 color:#623828;
}

.hidden{

    display: none;
}


.reservation_time{
    font-size: 20px;
    font-stretch: expanded;
    letter-spacing:1px;
    font-weight:800;
}

input{
    padding-left: 5px;
    rgba(255,255,255,0.2);
    border: none;
}

input:selection{
    border: none;
}



.day-chart{
  height:102px;
  width:1440px;
  margin-left:50px;
  position:absolute;
  -webkit-transition: all 1s;
  z-index:6000;
  border-width: 1px;
  cursor: pointer;
}


.day-chart.edit{
  background-color:rgba(124,120,122,0.2);
}

.requested-company{
    margin-left:15px;
    font-size: 25px;
    height: 100px;
    width:80%;
    overflow:scroll;
}

.day-of-week{
    font-size: 48px;
    font-family:"Trebuchet MS, Helvetica, sans-serif";
}

.current-selected-date{
    width:600px; height:50px; position:absolute; z-index:5000;
    font-family: Impact, Charcoal, sans-serif; font-size:22px; letter-spacing:0px; color:rgba(233,233,233,0.6); margin-left: 310px;
    font-weight: 800;
}

.calendar-controls{
  margin-top:-50px;
  margin-left:263px;
  position: absolute;
  z-index:4000;
  color:rgba(233,233,233,0.6);
    font-weight: 800;
}

.reservation_company{
    font-style:italic;
    font-size: 18px;
    height:8px;
    margin-top: 10px;
    width:95%;
    overflow:scroll;
    padding-left: 5px;
    color:black;
}

.foundPlaces{
    margin-top: 25px;
}

.find{
    background-image:url('../img/find2.png');
    width: 50px;
    height: 51px;
    background-size: 100%;
    display: inline-block;
    margin-right: -240px;
    float:right;
    margin-top:7px;
    -webkit-transition: 1.3s all;
    -moz-transition: 1.3s all;
    -ms-transition: 1.3s all;
    transition: 1.3s all;
}

.find:hover{
    background-image:url('../img/find-hover.png');
    cursor: pointer;
}

.arrow{
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  font-size: 45px;
  position: absolute;

  z-index:100;
  margin-top:60px;
  -webkit-transition: 3.3s all;
  -moz-transition: 3.3s all;
  -ms-transition: 3.3s all;
  transition: 3.3s all;
}

.arrow-down{
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
}

.arrow-up{
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
}

.arrow-up:hover{
  border-right-color: blue;
 -webkit-transition: 1.2s all;
 -moz-transition: 1.2s all;
 -ms-transition: 1.2s all;
 transition: 1.2s all;
}

.arrow-down:hover{
  border-top-color: blue;
 -webkit-transition: 1.2s all;
 -moz-transition: 1.2s all;
 -ms-transition: 1.2s all;
 transition: 1.2s all;
}


.requestedTime{
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
  z-index:10001;
}

.requestedTime:hover{
    z-index:10001;
    -webkit-transition: all 1.5s;
}

.requestedTime:active{
    z-index:10001;
    color:white;
    -webkit-box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4);
    -moz-box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4);
    box-shadow:1px 4px 10px rgba(10, 10, 10, 0.4);

    -webkit-transition: 4.2s all;
    -moz-transition: 4.2s all;
    -ms-transition: 4.2s all;
    transition: 4.2s all;
}

.days-view{
  width:1440px;
  height:500px;
  margin-top: 80px;
}

.timeIndicator {
    width: 50px;
    color: #623828;
    font-weight: 300;
    height: 0px;
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    z-index: 99999;
    overflow: hide;
}

.timeIndicator:hover{
    font-weight: 900;
    font-size: 18px;
}

.date-controls{
    width:600px;
    height: 100px;
}

/* ---------- month styles ------------- */
.month > .one {
    -webkit-transform: translateZ(380px);
}

.month > .two {
    -webkit-transform: rotateY(30deg) translateZ(380px);
}

.month > .three {
    -webkit-transform: rotateY(60deg) translateZ(380px);
}

.month > .four {
    -webkit-transform: rotateY(90deg) translateZ(380px);
}

.month > .five {
    -webkit-transform: rotateY(120deg) translateZ(380px);
}

.month > .six {
    -webkit-transform: rotateY(150deg) translateZ(380px);
}

.month > .seven {
    -webkit-transform: rotateY(180deg) translateZ(380px);
}

.month > .eight {
    -webkit-transform: rotateY(210deg) translateZ(380px);
}

.month > .nine {
    -webkit-transform: rotateY(-120deg) translateZ(380px);
}

.month > .ten {
    -webkit-transform: rotateY(-90deg) translateZ(380px);
}

.month > .eleven {
    -webkit-transform: rotateY(300deg) translateZ(380px);
}

.month > .twelve {
    -webkit-transform: rotateY(330deg) translateZ(380px);
}

