
body{
  background-color:#000000;
  position:absolute;
  z-index:99999;
  width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

::-webkit-scrollbar {
    display: none;
}


.textStatus{
  height: 29px;
  width: 78px;
  opacity:0.35;
  text-align:center;
  float:left;
  font-size:18px;
  padding: 2px;
  background-color: rgba(100,100,100,0.2);
  color:white;
}

.textStatus::-moz-selection {
background-color:green;
}

.chart-left-time{
  float:left;
  font-size:200%;
}


.textStatus::selection {
background-color:green;
}

div.status {
  -webkit-transition: background-color 0.8s ease-in-out;
  width:28px;
  height:28px;
  background-color:#a2a3a4;
  #-webkit-transition: border-color 2s ease-in-out;
  opacity:0.45;
  -webkit-transition: all 1s;
  float:left;
  border-radius: 15px;
}


div.status:hover {
  border-color:#BABABA;
  #-webkit-animation-duration: 1.5s;
  #-webkit-transition: border-color 1s;
  -webkit-transition: all 1s;
  opacity:0.75;
}

div.status.approved{
  background-color:green;
#-webkit-transition: background-color 0.5s;
#-webkit-transition: border-color 1s;
#-webkit-transition: opacity 1s;
  -webkit-transition: all 1s;
}

div.status.declined{
  background-color:red;
  -webkit-transition: border-color 1.5;
}

div.status.pending{
  background-color:yellow;
  -webkit-transition: background-color 3.5s
  #-webkit-transition: border-color 1s;
}



.reserve{
  float:right;
  background-color: #EEEEEE;
  border:2px solid black;
  cursor: pointer;
  margin-top:5px;
  position:absolute;
  padding: 5px;
}

.floatingTile {
  background-color: rgba(111,111,29,0.8);
  #border-color:#999999;
  width: 80px;
  height: 80px;
  padding: 5px;
  color:#dddddd;
    cursor: default;
}



.day-floating-tile{
    -webkit-box-shadow:0 1px 4px rgba(10, 10, 10, 0.7), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow:0 1px 4px rgba(10, 10, 10, 0.7), 0 0 40px rgba(0, 0, 0, 0.4) inset;
    box-shadow:0 1px 4px rgba(10, 10, 10, 0.8), 0 0 40px rgba(11, 11, 11, 1.0) inset;

    font-family: sans-serif;
    font-size: 22px;
    #border-width: 1px;
    #border-style: solid;
    cursor: default;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    margin:14px;
    display:inline;
    margin-top:25px;
    float:left;
    position:relative;
}

.floatingTile:hover {
    -webkit-transform: scale(0.87) perspective(100px) rotateY(0deg) rotateX(0deg);
    -moz-transform: scale(0.87) perspective(100px) rotateY(0deg) rotateX(0deg);
    -ms-transform: scale(0.87) perspective(100px) rotateY(0deg) rotateX(0deg);
    transform: scale(0.87) perspective(100px) rotateY(0deg) rotateX(0deg);
}


.day-of-week-indicator{
    background-color: transparent;
    height: 50px;

}


.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}
/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}


.date-input{
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding:7px;
}

.selectedDate{
width:500px;
height:0px;
padding-top:75px;
}

.day-selected{
  margin-left:15px;
  font-size:40px;
}

div label.day{
  background-color:green;
}

.reservation > span{
  display:block;
}

.reservation{
  width:150px;
  height:50px;
  position:absolute;
  z-index:9999;
  background-color:transparent;
  padding-top:16px;
  font-size: 16px;
  font-family:"Trebuchet MS, Helvetica, sans-serif";
  font-weight:500;
  -webkit-transition: all 0.5s;
}


.reservation:hover{
  opacity:1;
  position:absolute;
  -webkit-transition: all 0.8s;
}

.draggable { height: 90px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }

.reservation-length-indicator{
   -webkit-transition: width 2.5s, margin 0.5s;
   background-color: #0000a0;
   height: 20px;
   position:absolute;
   z-index: 500;
   margin-top: 100px;
}

.background-pattern{

    background-color: #6d695c;
    background-image:
        repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 10px),
        linear-gradient(80deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(110,0,0,.1)),
        linear-gradient(160deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(110,0,0,.1));
    background-size: 70px 120px;
}


.calendar{
    position:absolute;
    width:900px;
    height:400px;
    overflow:scroll;
    padding-left:36px;
    margin-top:260px;
    margin-left:461px;
    -webkit-transition: all 1.4s;
    font-size:300%;
}

.calendar:hover{
  margin-left:161px;
  margin-top:170px;
  -webkit-transition: all 0.6s;
  z-index: 12002;
  background-color:rgba(50,50,50,0.4);
  height:540px;
  width:80%;
}


span.dayOfMonth{
  font-size:42px;
  float:right;
  margin-right:5px;
}


.month-selected{
  margin-left:180px;
  font-size:200%;
}

.day-selected{
  font-size:200%;
  margin-right:30px;
}

.year-selected{
  font-size:200%;
} 

label{
  margin-left: 5%;
  font-family:"Georgia, serif";
}


ul{
  padding:40px;
  margin-left:100px;
}

.duration{
 font-size: 20px;
 width:40px;
 height: 25px;
 opacity: 0.8;
 border: none;
 font-style: italic;
}

.hidden{

    display: none;
}


.reservation_time{
    font-size: 20px;
    font-stretch: expanded;
}

input{
    padding-left: 5px;
    rgba(255,255,255,0.2);
    border: none;
}

.day-chart{
  height:215px;
  width:1440px;
  margin-left:50px;
  position:absolute;
  background-color:rgba(20,20,30,0.4);
  -webkit-transition: all 1s;
  z-index:6000;
  border-top-style:dotted;
  border-width: 2px;
  border-top-color: #111111;
  opacity: 0.45;
}

.calendar-controls{
  margin-top:-130px;
  margin-top:-130px;
  margin-left:400px;
  background-color:111111;
  opacity:0.8;
  position: absolute;
  z-index:4000;
}

.reservation_company{
    font-style: italic;
    height:40px;
}


.arrow{
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  font-size: 45px;
  position: absolute;

  z-index:100;
  margin-top:60px;
   -webkit-transition: 3.3s all;
 -moz-transition: 3.3s all;
 -ms-transition: 3.3s all;
 transition: 3.3s all;
}

.arrow-down{
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
}

.arrow-up{
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
}

.arrow-up:hover{
  border-right-color: blue;
 -webkit-transition: 1.2s all;
 -moz-transition: 1.2s all;
 -ms-transition: 1.2s all;
 transition: 1.2s all;
}

.arrow-down:hover{
  border-top-color: blue;
 -webkit-transition: 1.2s all;
 -moz-transition: 1.2s all;
 -ms-transition: 1.2s all;
 transition: 1.2s all;
}

.requestedTime{
  opacity:1 !important;
  z-index:9999;
  margin-top: 20px;
}

.days-view{
  width:1440px;
  height:500px;
  margin-top: 30px;
}

.timeIndicator {
    width: 0px;
    color: #eeeeee;
    height: 0px;
    position: absolute;
    cursor: pointer;
    font-size: 18px;
}

.timeIndicator:hover{
    font-weight: 600;
}

.date-controls{
    width:600px;
    height: 200px;
}

/* ---------- month styles ------------- */
.month > .one {
    -webkit-transform: translateZ(380px);
}

.month > .two {
    -webkit-transform: rotateY(30deg) translateZ(380px);
}

.month > .three {
    -webkit-transform: rotateY(60deg) translateZ(380px);
}

.month > .four {
    -webkit-transform: rotateY(90deg) translateZ(380px);
}

.month > .five {
    -webkit-transform: rotateY(120deg) translateZ(380px);
}

.month > .six {
    -webkit-transform: rotateY(150deg) translateZ(380px);
}

.month > .seven {
    -webkit-transform: rotateY(180deg) translateZ(380px);
}

.month > .eight {
    -webkit-transform: rotateY(210deg) translateZ(380px);
}

.month > .nine {
    -webkit-transform: rotateY(-120deg) translateZ(380px);
}

.month > .ten {
    -webkit-transform: rotateY(-90deg) translateZ(380px);
}

.month > .eleven {
    -webkit-transform: rotateY(300deg) translateZ(380px);
}

.month > .twelve {
    -webkit-transform: rotateY(330deg) translateZ(380px);
}
