.attendee{
    margin-left: 10px;
    color:black;
    border-bottom: solid #000000 1px;
}

.banner-left{
    width: 45%;
    height: 100px;
    font-size: 75%;
    padding: 15px;
    color:rgba(111,1,1,0.9);
    margin-right: 20px;
    margin-left: 20px;
    display: inline-table;
}

.banner-right{
    color:rgba(111,1,1,0.9);
    float:right;
    display: inline-table;
    height: 100px;
    width: 40%;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.banner-content{
    height: 50px;
}

.current-date-label{
    font-style: oblique;
    font-size: 125%;
}

.current-date{
    font-style:italic;
    color:rgba(19,19,29,0.9);
}

.logo{
    width:70px;
    height:40px;
    z-index: 9005;
    display: inline;
    margin-bottom: -6px;
}

.nav-image{
    width: 20px;
    height: 20px;
}

.main-title{
    display: inline;
    font-size:45px;
}

.selected-date{
    font-size: 20px;
    color:black;
    padding-left: 40px;
    font-family: "Times New Roman";
    font-style: oblique;
}

.selected-place{
    width: 50%;
    color:#000000;
}



