@media only screen and (min-width: 1501px) {
    .banner-height{
        height: 200px;
    }
}

@media only screen and (max-width: 1500px) {
    .banner-height{
        height: 175px;
        margin-bottom: 50px;
    }
}

.attendee{
    margin-left: 10px;
    color:black;
    border-bottom: solid #000000 1px;
    font-size: 120%;
}

.banner-left{
    width: 45%;
    font-size: 108%;
    color:rgba(111,1,1,0.9);
    margin-right: 20px;
    margin-left: 20px;
    display: inline-table;
}

.banner-right{
    color:rgba(111,1,1,0.9);
    float:right;
    display: inline-table;
    width: 40%;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}


.spin-component{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg); /* Safari and Chrome */
    -webkit-transition:1.88s all;
    -moz-transition:1.88s all;
    -ms-transition:1.88s all;
    transition:1.88s all;
    perspective-origin: 50% 50%;
}

.banner-content{
    height: 50px;
    list-style-type:none;
}

.current-date-label{
    font-style: oblique;
    font-size: 120%;
    width: 35%;
}

.current-date{
    font-style:italic;
    color:rgba(19,19,29,0.9);
}

.logo{
    width:70px;
    height:40px;
    z-index: 9005;
    display: inline;
    margin-bottom: -6px;
}


.main-title{
    display: inline;
    font-size:45px;
}

.selected-date{
    font-size: 126%;
    color:rgba(8,8,78,0.87);
    letter-spacing: 2px;
    font-style: italic;
    font-weight:900;
    margin-right: 6%;

}

.selected-place{
    font-size: 22px;
    color:rgba(8,8,78,0.87);
    font-style: oblique;
    letter-spacing: 2px;
    font-style: italic;
    font-weight:900;
}



