

.attendee{
    margin-left: 5px;
    color: rgba(50,50,50,0.4);
    border: 0;
    cursor: pointer;
}

.attendee:hover{
    border-bottom: solid blue 1px;
    color: #000000;
}

.chart-labels{
    padding: 10px;
}

.chart-labels > span{
    margin-left: 12%;
}

.hour-chart{
    background-color: rgba(19,19,19,0.03);
    height: 300px;
    width: 100%;
    margin-top: -10px;
    #border-bottom-left-radius: 20px;
    #border-bottom-right-radius: 20px;
    border-radius: 30px;
}

.reservation{
    border-radius: 5px;
    background-color: rgba(200,200,205,0.4);
    display: inline-table;
    margin-right: 10px;
    cursor: pointer;
    height: 80px;
    font-size: 16px;
    color:#000000;
    border-radius: 10px;
}

.reservation:hover{
    background-color: rgba(200,200,205,0.2);
}