body{
    width:100%;
    height: 800px;
    #overflow: hidden;
}

body > div{
    padding: 10px;
}

@media only screen and (min-width: 1201px) {
    .tile-size{
        width: 40%;
    }

    .inner-tile-size{
        width:35%
    }
}

@media only screen and (max-width: 1200px) {
    .tile-size{
        width: 95%;
    }

    .inner-tile-size{
        width: 80%;
    }
}


.tile{
    #height:300px;
    float:left;
    padding: 40px;
    overflow:hidden;
}

h1{
    font-family: "Times New Roman";
    letter-spacing: 9px;
}

h2{
    margin: 0;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


.tile-navigation{
    list-style-type: none;
    float: right;
    #margin-left:38%;
    width: 5%;
    display: inline-table;
}

.inner-tile{
    display: inline-table;
    position:absolute;
}

.tile-navigation > li{
    padding: 20px;
    cursor: pointer;
    height: 27px;
}

.tile-navigation > li:hover{
    -webkit-box-shadow:0 0 40px rgba(10, 0, 0, 0.2) inset;
    -moz-box-shadow:0 0 40px rgba(10, 0, 0, 0.2) inset;
    box-shadow:0 0 40px rgba(11, 0, 0, 0.2) inset;
}

.tile-navigation > * {
    -webkit-transition:1.28s all;
    -moz-transition:1.28s all;
    -ms-transition:1.28s all;
    transition:1.28s all;
}