

@media only screen and (min-width: 1401px) {
    .tile-size{
        width: 44%;
        margin-bottom: 80px;
    }

    .inner-tile-size{
        width:33%;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    . nav-image-size{
        height: 100%;
        width: 100%;
    }

    .tile-navigation > li{
        height: 70px;
        width: 70px;
    }
}

@media only screen and (max-width: 1400px) {
    .tile-size{
        width: 95%;
        margin-bottom: 10px;
    }

    .inner-tile-size{
        width: 80%;
        border-bottom: solid blue 1px;
        padding-left: 15px;
    }

    . nav-image-size{
        height: 100%;
        width: 100%;
    }

    .tile-navigation > li{
        height: 100px;
        width: 100px;
    }
}


body{
    width:100%;
    height: 800px;
    #overflow: hidden;
}

body > div{
    padding: 10px;
}

.tile{
    #height:300px;
    float:left;
    padding: 40px;
    overflow:hidden;

}

h1{
    font-family: "Times New Roman";
    letter-spacing: 9px;
}

h2{
    margin: 0;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


.tile-navigation{
    list-style-type: none;
    float: right;
    width: 5%;
    display: inline-table;
    background-size: 100%;
}

.nav-image{
    width: 50px;
    height: 50px;
    background-size: 100%;
    background-repeat:no-repeat;
}


.inner-tile{
    display: inline-table;
    position:absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid rgba(50,50,65,0.7) 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: solid rgba(50,50,65,0.7) 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: solid black 1px;
    border-left: solid black 1px;

}

.tile-navigation > li{
    cursor: pointer;
    opacity: 0.5;
}

.tile-navigation > li:hover{
    opacity: 1;
}

.tile-navigation > * {
    -webkit-transition:0.28s all;
    -moz-transition:0.28s all;
    -ms-transition:0.28s all;
    transition:0.28s all;
}