

@media only screen and (min-width: 1501px) {
    .tile-size{
        width: 44%;
        margin-bottom: 80px;
    }

    .inner-tile-size{
        width:33%;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    . nav-image-size{
        width: 50px;
        height: 50px;
    }

    .tile-navigation > li{
        height: 70px;
        width: 70px;
    }
}

@media only screen and (max-width: 1500px) {
    .tile-size{
        width: 95%;
        margin-bottom: 10px;
    }

    .inner-tile-size{
        width: 70%;
        border-bottom: solid blue 1px;
        padding-left: 15px;
    }

    . nav-image-size{
        width: 150px;
        height: 150px;
    }

    .tile-navigation > li{
        height: 100px;
        width: 100px;
    }
}


body{
    width:100%;
    height: 800px;
    #overflow: hidden;
}

body > div{
    padding: 10px;
}

h2{
    color:rgba(111,1,1,0.9);
}

.tile{
    height:500px;
    float:left;
    overflow:hidden;
}

h1{
    font-family: "Times New Roman";
    letter-spacing: 9px;
}

h2{
    margin: 0;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


.tile-navigation{
    list-style-type: none;
    float: right;
    width: 6%;
    display: inline-table;
    background-size: 100%;
    margin-right: 70px;
}

.nav-image{
    background-size: 100%;
    background-repeat:no-repeat;
}


.inner-tile{
    display: inline-table;
    position:absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid rgba(50,50,65,0.7) 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: solid rgba(50,50,65,0.7) 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: solid black 1px;
    overflow: scroll;
    background-color: rgba(200,205,205,0.01);
}

.tile-navigation > li{
    cursor: pointer;
    opacity: 0.5;
    margin-right: -50px;
}

.tile-navigation > li:hover{
    opacity: 1;
    padding: 10px;
}

.tile-navigation > * {
    -webkit-transition:0.28s all;
    -moz-transition:0.28s all;
    -ms-transition:0.28s all;
    transition:0.28s all;
}