.month-picker {
    width: 780px;
    height: 25px;
    -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
    -webkit-perspective-origin: 0% 25px;
    position: absolute;
    margin-top: 345px;
    border-bottom:solid rgba(200,200,205,0.8) 10px;
    letter-spacing: 1px;
    font-size: 14px;
}

.month-picker > span{
    margin-left:1px;
}

.month-picker > span:hover{
  color:steelblue;
  cursor: pointer;
}

#stage {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 2s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(-564px);
}

#shape {
    position: relative;
    margin: 0 auto;
    height:53px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -webkit-animation: spin 8s infinite ease-in-out;
}

.lever{
    #width:50px;
    #height:50px;
    margin-left:635px;
    margin-top: 19px;
    margin-right: 50px;
    position:absolute;
    left:1px;
    width:50px;
    height:43px;
    background-size: 100%;
    z-index: 9999;
    opacity: 0.7;
    background-image:url('../img/gear.png');
    cursor:pointer;
}

.lever:hover{
  opacity: 0.7;
  background-image:url('../img/gear-selected.png');
}

.lever.spin{
    opacity: 1;
    background-image:url('../img/gear-selected2.png');
}

.plane {
    position: absolute;
    -webkit-border-radius: 12px;
    -webkit-box-sizing: border-box;
    text-align: center;
    font-family: Times, serif;
    font-size: 38px;
    background-color: transparent;
    -webkit-transition: -webkit-transform 2s, opacity 2s;
    -webkit-backface-visibility: hidden;
    color:#333333;
}

.plane:hover{
    color: #0000a0;
    font-weight:900;
}

#shape.backfaces .plane {
    -webkit-backface-visibility: visible;
}

#shape.spin {
    -webkit-animation: spin 8s infinite linear;
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}

.ring{
    cursor: pointer;

}

/* ---------- ring styles ------------- */
.ring > .one {
    -webkit-transform: translateZ(380px);
}

.ring > .two {
    -webkit-transform: rotateY(30deg) translateZ(380px);
}

.ring > .three {
    -webkit-transform: rotateY(60deg) translateZ(380px);
}

.ring > .four {
    -webkit-transform: rotateY(90deg) translateZ(380px);
}

.ring > .five {
    -webkit-transform: rotateY(120deg) translateZ(380px);
}

.ring > .six {
    -webkit-transform: rotateY(150deg) translateZ(380px);
}

.ring > .seven {
    -webkit-transform: rotateY(180deg) translateZ(380px);
}

.ring > .eight {
    -webkit-transform: rotateY(210deg) translateZ(380px);
}

.ring > .nine {
    -webkit-transform: rotateY(-120deg) translateZ(380px);
}

.ring > .ten {
    -webkit-transform: rotateY(-90deg) translateZ(380px);
}

.ring > .eleven {
    -webkit-transform: rotateY(300deg) translateZ(380px);
}

.ring > .twelve {
    -webkit-transform: rotateY(330deg) translateZ(380px);
}