.city-search{
    font-size:30px;
    padding: 10px;
    font-family: 'Noto Serif', serif;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 5px;
    outline: none;
}

.city-result{
    cursor: pointer;
    margin: 20px;
}

.find{
    background-image:url('../img/find2.png');
    width: 50px;
    height: 51px;
    background-size: 100%;
    display: inline-block;
    -webkit-transition: 1.3s all;
    -moz-transition: 1.3s all;
    -ms-transition: 1.3s all;
    transition: 1.3s all;
    float:right;
    margin-right: 29%;
}

.find:hover{
    background-image:url('../img/find-hover.png');
    cursor: pointer;
}

.found-place-types{
    height: 120px;
    overflow: auto;
}

.place-icon{
    height: 20px;
}

.place-header{
    display: inline;
    letter-spacing: 2px;
    width: 50%;
    font-size: 25px;
    color:rgba(111,1,1,0.9);
    margin-top: 20px;
}

.place-search{
    font-size:30px;
    padding: 10px;
    font-family: 'Noto Serif', serif;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 5px;
    outline: none;
}

.place-result{
    background-color: rgba(200,200,205,0.4);
    display: inline-table;
    margin-right: 10px;
    cursor: pointer;
    height: 80px;
    font-size: 16px;
    color:#000000;
    border-radius: 10px;
}

.place-result:hover{
    color:white;
}

.place-type-search{
    font-size:30px;
    padding: 10px;
    font-family: 'Noto Serif', serif;
    color:black;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 5px;
    outline: none;
}




