<div ng-controller="bannerController" ng-class="{'spin-component': UserSelection.place.name.length > 0}">


<ul class="banner-content">
    <li>
        <h2 class="current-date-label">SELECTED DATE</h2>
        <span class="selected-date" ng-bind="UserSelection.selectedDate | date:'EEEE, MMMM d,y'"></span>
    </li>
    <li>
        <h2 class="current-date-label">SELECTED TIME</h2>
        <span class="selected-date" ng-bind="UserSelection.selectedDate | date:'h:mma'"></span>
    </li>
    <li ng-show="UserSelection.place.name">
        <h2 class="current-date-label">SELECTED PLACE</h2>
        <span class="selected-place" ng-bind="UserSelection.place.name"></span>
    </li>
    <li ng-controller="reservationController" ng-click="reserve();">
        <div class="reservation-input reserve">Save Current Details</div>
    </li>
</ul>


</div>