<table class="attendee-table" ng-controller="attendeeController">
    <tr>
        <td class="attendees-header">ATTENDEE</td><td>STATUS</td>
    </tr>
    <tr>
        <td><input type="text" class="add-attendee-input" ng-model="UserSelection.attendee"/></td><td><span ng-click="addAttendee(UserSelection.attendee);" class="reserve reservation-input">ADD ATTENDEE</span></td>
    </tr>
    <tr ng-repeat="attendee in PageState.attendees">
        <td ng-bind="attendee" class="attendee-name"></td>
        <td>PENDING</td>
    </tr>
</table>