<div ng-controller="placeSearchController">
    <h2 class="place-header">City</h2>
    <input ng-model="citySearch" type="input" class="city-search"/>

    <div class="found-cities">
        <span ng-repeat="city in PageState.cities" ng-click="updateCity(city)"
              class="floatingTile city-result">
            {{city.name}}
        </span>
    </div>

    <h2 class="place-header">Type of place</h2>
    <input ng-model="placeTypeSearch" type="input" class="place-type-search" ng-init="placeTypeSearch='food'"/>

    <div class="found-place-types">
        <span ng-repeat="placeType in PageState.placeTypes | filter:placeTypeSearch" ng-click="updatePlaceType(placeType)"
              class="floatingTile city-result">
            {{placeType}}
        </span>
    </div>

    <h2 class="place-header">Find a {{UserSelection.placeType}}</h2>

    <div class="find" ng-click="searchPlaces(placeSearch);"></div>
    <input ng-model="placeSearch" type="input" class="place-search"/>

    <div class="foundPlaces">
        <span ng-repeat="place in PageState.places" ng-click="updatePlace(place)"
          class="floatingTile place-result">
            {{place.name}}<img class="place-icon" ng-src="{{place.icon}}"><span ng-bind="place.rating"></span>
        </span>
    </div>

</div>