<!doctype html>
<html lang="en" ng-app="userCalendar">
<head>
  <meta charset="utf-8">
  <title>Restaurant Booking Service</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/month-selector.css"/>
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.js"></script>
</head>
<body>
<embed src="img/calendar.svg" type="image/svg+xml" style="position: absolute; width:180px; height:130px; z-index: 9005; margin-left: 48px;"/>
  <div ng-controller=ReservationCtrl>
      <!-- Date modification controls -->
      <div class="calendar-controls">
        <input ng-model="selectedDate.month">
          <div ng-controller="DateControlsCtrl" class="date-controls">
              <div id="month-picker">
                  <div id="stage">
                      <div id="shape" class="ring">
                          <div class="plane seven" ng-click="setMonth(0); controls.stopSpin();">January</div>
                          <div class="plane eight" ng-click="setMonth(1); controls.stopSpin();">February</div>
                          <div class="plane nine" ng-click="setMonth(2); controls.stopSpin();">March</div>
                          <div class="plane ten" ng-click="setMonth(3); controls.stopSpin();">April</div>
                          <div class="plane eleven" ng-click="setMonth(4); controls.stopSpin();">May</div>
                          <div class="plane twelve" ng-click="setMonth(5); controls.stopSpin();">June</div>
                          <div class="plane one" ng-click="setMonth(6); controls.stopSpin();">July</div>
                          <div class="plane two" ng-click="setMonth(7); controls.stopSpin();">August</div>
                          <div class="plane three" ng-click="setMonth(8); controls.stopSpin();">September</div>
                          <div class="plane four" ng-click="setMonth(9); controls.stopSpin();">October</div>
                          <div class="plane five" ng-click="setMonth(10); controls.stopSpin();">November</div>
                          <div class="plane six" ng-click="setMonth(11); controls.stopSpin();">December</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="current-selected-date">
        <span ng-bind="ReservationModel.date | dayOfWeek" class="day-of-week"></span>
        <span ng-bind="ReservationModel.month | monthName" class="month-selected"></span>
        <span ng-bind="ReservationModel.day" class="day-selected"></span>
        <input ng-model="ReservationModel.year" class="year-selected"/>
      </div>

      <!-- Reservations for currently selected day -->
      <div class="selectedDate">

        <div class="days-view">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:1440px; height: 15px; margin-left: 48px; margin-bottom: -7px;">
                <g stroke="rgba(92,52,32,0.3)" stroke-width="8" >
                    <path stroke-dasharray="60,1" d="M3 5 1440 5"/>
                </g>
            </svg>
          <div ng-repeat="(key,reservation) in selectedDate.reservations" class="reservation" style="margin-left:{{reservation.date | getChartPosition}}px;">
                <div class="update-changes-icon" ng-class="reservation | updateState" ng-click="requestedTime.reserve(reservation);"></div>
              <span ng-bind="reservation.date | niceTime" class="reservation_time"></span>
              <span class="reservation_min_label">min</span><span ng-bind="reservation.duration_minutes" class="reservation_min"></span>
                <div class="reservation_company">{{reservation.company}}</div>
                <div ng-class="reservation.status" ng-model="reservation.status" class="status {{reservation.status}}" ng-click="toggleStatus(selectedDate, key, reservation.status)"><input ng-model="reservation.status" class="textStatus"></div>
                <div class="attendee-icon-alt" ng-click="setReservationSelected(selectedDate.reservations[key]);"></div>
          </div>

            <div class="day-chart" ng-click="addOnClick($event)">

            </div>
            <div class="{{requestedTime | reservationState}} requestedTime reservation" style="margin-left:{{ReservationModel.date | getChartPosition}}px;">
                <div>
                    <input class="date-input" type="text" ng-model="ReservationModel.date">
                </div>
                <input type="text" ng-model="ReservationModel.duration_minutes" class="duration"><span style="font-size:17px; font-weight:900; color:#ffffff; margin-left: 5px; color:#623828;">minutes</span>
                <span class="reserve" ng-click="requestedTime.reserve(ReservationModel);">Create</span>
            </div>


            <div class="reservation-length-indicator" style="width:{{ReservationModel.duration_minutes}}px; margin-left:{{ReservationModel.date | getChartPosition}}px;"></div>
            <div style="border-top:solid silver 1px; ;padding-top:5px; border-top-left-radius:7px; border-top-right-radius:7px; margin-top: -44px; z-index: 99; position: absolute; background-color: rgba(180,180,195,0.1); width: 1440px; height: 50px; margin-left: 50px; overflow: hidden;">
                <div ng-click="updateRequestToIndicator(indicator);"
                     ng-repeat="indicator in helpers.timeIndicators"
                     class="timeIndicator"
                     style="margin-left:{{(indicator | getChartPosition)-50}}px;">
                  {{indicator | niceTime}}
                </div>
            </div>
        </div>
      </div>

      <!-- Day of month selector -->
            <div class="calendar">
              <div ng-repeat="day in getDays(ReservationModel.month, ReservationModel.year);"
                   class="floatingTile day-floating-tile" ng-class="getCalendarClass(day, 'selectedTile')"
                   ng-click="ReservationModel.day=day; updateSelected(day, selectedDate.month, selectedDate.year);"
                 >
                <span class="dayOfMonth">
                  {{day | extractDay}}
                </span>
              </div>
           </div>

     <div class="attendees {{NavModel.selectedReservation | reservationState}}">
       <h3 class="attendees-header">Attendees</h3>
       <div class="company_selected">{{NavModel.selectedReservation.company}}</div>
       <div class="attendee-icon-alt" style="margin-top: -86px; margin-right: 20px"></div>
       <div class=attendee-icon ng-click="addAttendee(attendee)"></div>
       <input ng-model="attendee" class="add-attendee-input"/>
     </div>
     <div class="places">
         WHERE<input type="input" class="place_search"/>
     </div>

      <script src="lib/angular/angular.js"></script>
      <script src="js/app.js"></script>
      <script src="js/services.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/filters.js"></script>
      <script src="js/directives.js"></script>
  </div>
</body>
</html>
