<!doctype html>
<html lang="en" ng-app="userCalendar">
<head>
  <meta charset="utf-8">
  <title>Restaurant Booking Service</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.js"></script>
</head>
<body style="font-family: 'Noto Serif', serif;">
<embed src="img/calendar.svg" type="image/svg+xml" style="position: absolute; width:120px; height:80px; z-index: 9005;"/>
  <div ng-controller=ReservationCtrl>
      <div class="calendar-controls">
        <span>Tile Colour: </span>
        <input ng-model="calendar.tile.colour" ng-init="calendar.tile.colour='000'">
        <input ng-model="selectedDate.month">
        <input ng-model="selectedDate.year">
        <select>
          <option ng-repeat="month in ReservationCtrl.getMonths()" ng-selected="">{{month}}</option>
        </select>
      </div>
      <div style="width:800px; height:50px; position:absolute; z-index:5000;">
        <span ng-bind="selectedDate.month | monthName" class="month-selected"></span>
        <span ng-bind="selectedDate.day" class="day-selected"></span>
        <span ng-bind="selectedDate.year" class="year-selected"></span>
      </div>
      <div class="selectedDate">
        <div class="days-view">
          <div ng-repeat="(key,reservation) in selectedDate.reservations" class="reservation">
            <div class="reservation" style="margin-left:{{reservation.start_time | getChartPosition}}px;">
              <div style="width=200px;">
               
               <div ng-class="reservation.status" ng-model="reservation.status" class="status {{reservation.status}}" ng-click="toggleStatus(selectedDate, key, reservation.status)"></div>
              <input ng-model="reservation.status" class="textStatus">
              </div>
              <span >{{reservation.start_time | niceTime}}</span>
              <span class="reservation_company">{{reservation.company}}</span>
              <span>{{reservation.duration}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="day-chart" ng-click="addOnClick($event)">
        <div>
           <div class="requestedTime reservation" style="width:{{requestedTime.duration_minutes}}px; margin-left:{{requestedTime.date | getChartPosition}}px;">
             {{requestedTime.localized}}
             <div class="arrow arrow-up"></div>
             <input ng-model="requestedTime.duration_minutes" class="duration">
             <button type="button" class="reserve" ng-click="requestedTime.reserve();">Reserve</button>
           </div>
        </div>
      </div>

      <div class="calendar">
        <div ng-repeat="day in getDays(selectedDate.month, selectedDate.year)"
             class="floatingTile" style="background-color:#{{getColor(calendar.tile.colour, day)}};"
             ng-click="selectedDate.day=day; updateSelected(day, selectedDate.month, selectedDate.year);"
           >
          <span class="dayOfMonth">
            {{day | extractDay}}
          </span>
        </div>
     </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <div class="draggable ui-widget-content" style="width:100%; height:600px; background-color:#444444;">
  </div>
</body>
</html>
